{% extends 'index.html' %}


{% block content %}
<p class="ownH1">Авторизация</p>
<p>Для доступа к контенту требуется авторизация<p>
{% if error %}
    <p>{{error}}</p>
{% endif %}
<form method="post">
{% csrf_token %}
{% for field in form %}
<p>
  {{ field.label_tag }}<br>
  {{ field }}
  {% if field.help_text %}
  <span>{{ field.help_text }}</span>
  {% endif %}
  {% for error in field.errors %}
  <p>{{ error }}</p>
  {% endfor %}
</p>
{% endfor %}
<button class="btn btn-primary btn-reg" type="submit">Войти</button>
</form>
<p style="margin-top: 5px;">Или <a href = "{% url 'registration:signup' %}">зарегистрируйтесь</a></p>
{% endblock %}